<template lang="html">

<div  id="content" class=WordSection1 style="text-align: left">

<div class="line"></div>
<div>
<h1>FAQ</h1>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='color:black'>1.&nbsp;&nbsp;</span><span
class=SpellE><b><i><span style='color:#B45F06'>Sebenarnya</span></i></b></span><b><i><span
style='color:#B45F06'>, <span class=SpellE>umur</span> <span class=SpellE>berapa</span>
<span class=SpellE>sih</span> yang pas <span class=SpellE>untuk</span> <span
class=SpellE>mulai</span> <span class=SpellE>belajar</span> <span class=SpellE>musik</span>?</span></i></b><span
style='font-size:13.5pt;color:black'></span></p>
<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>Menurut para&nbsp;<span class=SpellE><i>music</i></span><i>
<span class=SpellE>educator</span></i>, <span class=SpellE>gak</span> ada umur
yang pasti untuk bisa menentukan&nbsp; kapan kita siap untuk belajar musik.
Semuanya tergantung dari perkembangan motorik, daya konsentrasi, dan minat.
Tapi, rata-rata musisi, biasanya mulai mempelajari instrumennya di usia di
bawah 6 tahun.</span><span style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>2.&nbsp;</span><span class=SpellE><span class=GramE><b><i><span
style='color:#B45F06'>Apa</span></i></b></span></span><b><i><span
style='color:#B45F06'> <span class=SpellE>sih</span> <span class=SpellE>bedanya</span>
pop, jazz, <span class=SpellE>dan</span> <span class=SpellE>klasik</span>?</span></i></b><span
style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>Musik pop berasal dari kata populer, artinya
musik-musik&nbsp;<span class=SpellE><i>easy</i></span><i> <span class=SpellE>listening</span></i>&nbsp;yang
lebih bersifa<i>t <span class=SpellE>entertaining</span></i>&nbsp;atau
menghibur sehingga mudah dinikmati oleh siapa saja. Musik <span class=SpellE>jazz</span>
merupakan musik yang berasal dari kalangan <span class=SpellE>Afro</span>-
Amerika&nbsp; atau <span class=SpellE>negroid</span>, <span class=SpellE>dimana</span>
musik ini memiliki ketukan-ketukan yang berlawanan dari musik <span
class=SpellE>popular</span>, atau klasik atau lebih dikenal dengan istilah<i>&nbsp;<span
class=SpellE>syncopation</span>&nbsp;</i>. Musik <span class=SpellE>jazz</span>
juga dipenuhi dengan unsur improvisasi di dalamnya sehingga dapat&nbsp; memacu <span
class=SpellE>kreatifitas</span> anak. Musik klasik merupakan musik yang berasal
dari negara-negara Barat khususnya <span class=SpellE>eropa</span> <span
class=SpellE>dimana</span> musik ini memiliki unsur keteraturan dan detail yang
baku sehingga sering disebut dengan musik seni, atau musik serius.</span><span
style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>3.&nbsp;</span><span class=SpellE><span class=GramE><b><i><span
style='color:#B45F06'>Apa</span></i></b></span></span><b><i><span
style='color:#B45F06'> <span class=SpellE>bedanya</span> piano, keyboard, <span
class=SpellE>dan</span> organ?</span></i></b><span style='font-size:13.5pt;
color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>Kalau piano , merupakan alat musik dengan papan tuts
hitam putih&nbsp; <span class=SpellE>dimana</span> harmonisasi dapat diperoleh
secara manual, dalam arti baik tangan kanan maupun kiri harus dapat
memainkannya secara&nbsp; aktif agar memperoleh harmoni yang indah . Sedangkan <span
class=SpellE>keyboard</span>, merupakan alat musik yang hampir sama dengan
piano namun ia memiliki berbagai aspek teknologi yang dapat mendukung
terciptanya harmoni, seperti iringan lagu (<span class=SpellE>style</span>),
pengubahan suara instrumen, dan lain-lain. Sedangkan organ merupakan alat musik
yang hampir mirip juga dengan piano namun memiliki dua tingkat papan tuts hitam
putih. Perbedaan memainkan organ adalah, dibutuhkan koordinasi dari kelincahan
kaki juga untuk menciptakan sebuah harmoni.</span><span style='font-size:13.5pt;
color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>4.&nbsp;</span><span class=SpellE><span class=GramE><b><i><span
style='color:#B45F06'>Apa</span></i></b></span></span><b><i><span
style='color:#B45F06'> <span class=SpellE>keuntungannya</span> <span
class=SpellE>belajar</span> <span class=SpellE>musik</span>?</span></i></b><span
style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>Banyak, di samping dapat menghibur, dengan belajar musik
, mental dan <span class=SpellE>kreatifitas</span> dapat terasah, kemampuan
motorik, afektif, dan kognitif juga terlatih, waktu yang kamu gunakan untuk <span
class=SpellE>bermusikpun</span> <span class=SpellE>kan</span> menjadi produktif
dan bermanfaat.</span><span style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>5.&nbsp;</span><span class=SpellE><b><i><span
style='color:#B45F06'>Perlu</span></i></b></span><b><i><span style='color:#B45F06'>
<span class=SpellE>waktu</span> <span class=SpellE>berapa</span> lama <span
class=SpellE>untuk</span> <span class=SpellE>menguasai</span> <span
class=SpellE>alat</span> <span class=SpellE>musik</span>?</span></i></b><span
style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>bergantung pada tingkat <span class=SpellE>kedisplinan</span>,
kemampuan motorik, daya tangkap,&nbsp; konsentrasi, musikalitas, dan kerja
keras seseorang.</span><span style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>6.&nbsp;</span><span class=SpellE><span class=GramE><b><i><span
style='color:#B45F06'>Apa</span></i></b></span></span><b><i><span
style='color:#B45F06'> <span class=SpellE>belajar</span> <span class=SpellE>musik</span>
<span class=SpellE>itu</span> <span class=SpellE>harus</span> <span
class=SpellE>dimulai</span> <span class=SpellE>dari</span> <span class=SpellE>klasik</span>?</span></i></b><span
style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span class=SpellE><span lang=IN
style='color:black;mso-ansi-language:IN'>Gak</span></span><span lang=IN
style='color:black;mso-ansi-language:IN'> juga, namun sebaiknya untuk
mempelajari sebuah instrumen musik,diawali dengan mempelajari musik-musik yang
memiliki keteraturan dalam seluruh aspek (membaca, mendengar,kecakapan motorik,
dan interpretasi) sebelum belajar ke tahap selanjutnya, agar dapat memperoleh
hasil yang maksimal dalam bermusik.</span><span style='font-size:13.5pt;
color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>7.&nbsp;&nbsp;</span><span class=SpellE><b><i><span
style='color:#B45F06'>Harus</span></i></b></span><b><i><span style='color:#B45F06'>
<span class=SpellE>gak</span> <span class=SpellE>sih</span> <span class=SpellE>belajar</span>
not <span class=SpellE>balok</span>? Susah <span class=SpellE>gak</span> <span
class=SpellE>sih</span>?</span></i></b><span style='font-size:13.5pt;
color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>Tidak ada keharusan dalam aspek-aspek bermusik, namun
jika ingin mendalami musik lebih mudah dan mendasar , jangan biarkan proses
mengasah kemampuan kognitif dan daya visualmu dalam bermusik terlewati, karena
pasti ada ketimpangan jika kamu hanya bermusik dengan mengandalkan salah satu
aspek saja.</span><span style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>8.&nbsp;</span><span class=SpellE><b><i><span
style='color:#B45F06'>Kalo</span></i></b></span><b><i><span style='color:#B45F06'>
les <span class=SpellE>musik</span>, <span class=SpellE>wajib</span> <span
class=SpellE>ga</span> <span class=SpellE>sih</span> <span class=SpellE>punya</span>
<span class=SpellE>alatnya</span>?</span></i></b><span style='font-size:13.5pt;
color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>Sekali lagi, tidak ada keharusan dalam aspek-aspek
bermusik. Tapi jika ingin menguasai musik, sebaiknya seseorang memiliki salah
satu instrumen musik untuk berlatih. Coba bayangkan, pernahkah kamu melihat ada
seorang pembalap yang bisa maju ke arena balap tanpa memiliki mobil/motor untuk
latihan setiap harinya ?</span><span style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>9.&nbsp;</span><span class=SpellE><span class=GramE><b><i><span
style='color:#B45F06'>Apa</span></i></b></span></span><b><i><span
style='color:#B45F06'> <span class=SpellE>anak</span> <span class=SpellE>berkebutuhan</span>
<span class=SpellE>khusus</span> <span class=SpellE>bisa</span> les <span
class=SpellE>disini</span>?</span></i></b><span style='font-size:13.5pt;
color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>Bisa menghubungi <span class=SpellE>admin</span> <span
class=SpellE>musikalita</span> <span class=SpellE>private</span> <span
class=SpellE>course</span> untuk diberitahukan jenis ABK dan tingkatannya apa</span><span
style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>10.&nbsp;</span><b><i><span style='color:#B45F06'>Ada <span
class=SpellE>batasan</span> <span class=SpellE><span class=GramE>usia</span></span>
<span class=SpellE>gak</span> <span class=SpellE>untuk</span> <span
class=SpellE>belajar</span> <span class=SpellE>musik</span>?</span></i></b><span
style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>Tidak ada. Seperti kata pepatah yang berbunyi&nbsp;</span><i><span
lang=IN style='font-size:18.0pt;color:black;mso-ansi-language:IN'>tidak ada
kata terlambat untuk menuntut ilmu</span></i><span lang=IN style='color:black;
mso-ansi-language:IN'>&nbsp;</span><span lang=IN style='font-family:""wingdings"",serif;
color:black;mso-ansi-language:IN'>J</span><span style='font-size:13.5pt;
color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>11.&nbsp;</span><span class=SpellE><b><i><span
style='color:#B45F06'>Bener</span></i></b></span><b><i><span style='color:#B45F06'>
<span class=SpellE>gak</span> <span class=SpellE>sih</span> <span class=SpellE>belajar</span>
<span class=SpellE>musik</span> <span class=SpellE>itu</span> <span
class=SpellE>bikin</span> <span class=SpellE><span class=GramE>pinter</span></span>?</span></i></b><span
style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>benar. Namun <span class=SpellE>disini</span> pintar
dalam arti dengan belajar musik dapat mengaktifkan kinerja otak baik dari segi
kognitif, afektif, dan motorik atau sering juga kita mendengar dengan belajar
musik kita dapat mengaktifkan keseimbangan antara otak kiri dan kanan.</span><span
style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>12.&nbsp;</span><span class=SpellE><b><i><span
style='color:#B45F06'>Gimana</span></i></b></span><b><i><span style='color:
#B45F06'> <span class=SpellE>kalau</span> <span class=SpellE>anak</span> <span
class=SpellE>saya</span>/<span class=SpellE>saya</span> <span class=SpellE>tidak</span>
‘<span class=SpellE>berbakat</span>’ <span class=SpellE>dalam</span> <span
class=SpellE>musik</span>?</span></i></b><span style='font-size:13.5pt;
color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>sesuai dengan <span class=SpellE>motto</span> <span
class=SpellE>musikalita</span> <span class=SpellE>private</span> <span
class=SpellE>course</span> “<span class=SpellE>nobody</span> <span
class=SpellE>can’t</span> <span class=SpellE>play</span> <span class=SpellE>music</span>”
, setiap orang bisa belajar musik dan memiliki keahlian <span class=SpellE>diberbagai</span>
aspek, misalnya ada yang dapat membaca not balok dengan cepat namun sulit
berimprovisasi, ada yang mahir memainkan lagu-lagu rumit yang memiliki tempo
cepat namun sulit dalam membaca not balok, ada yang mahir dalam segi <span
class=SpellE>aural</span> atau keterampilan audio namun memiliki demam panggung
yang tinggi , dan lain <span class=SpellE>sebagainya</span>, sehingga jangan
takut disebut tidak berbakat karena dengan bermusik kita tidak hanya dilatih
untuk melihat hasilnya tapi proses pembelajaran di dalamnya.</span><span
style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>13.&nbsp;</span><span class=SpellE><span class=GramE><b><i><span
style='color:#B45F06'>Apa</span></i></b></span></span><b><i><span
style='color:#B45F06'> <span class=SpellE>saja</span> <span class=SpellE>ketentuan</span>
<span class=SpellE>untuk</span> <span class=SpellE>memilih</span> <span
class=SpellE>alat</span> <span class=SpellE>musik</span> yang <span
class=SpellE>akan</span> <span class=SpellE>dipelajari</span>?</span></i></b><span
style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>semua bergantung minat, dan anatomi seseorang, misalnya
untuk mempelajari alat musik tiup, seseorang harus sudah memiliki gigi tetap
(karena tekanan udara tiup), badan <span class=SpellE>yg</span> cukup untuk
menopang alat, dan mulut yang kuat, dan pada pelajaran vokal , lebih baik
dimulai apabila anak telah mengalami pubertas dalam perubahan suara.</span><span
style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>14.&nbsp;</span><span class=SpellE><b><i><span
style='color:#B45F06'>Kenapa</span></i></b></span><b><i><span style='color:
#B45F06'> <span class=SpellE>sih</span> les <span class=SpellE>musik</span> <span
class=SpellE>cuma</span> 30-45menit <span class=SpellE>doang</span>?</span></i></b><span
style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span lang=IN style='color:black;
mso-ansi-language:IN'>karena dalam belajar musik, yang bekerja dalam otak tidak
hanya segi kognitif (<span class=SpellE>berfikir</span>), tetapi juga dalam
segi motorik (gerakan&nbsp; jari, tangan, kaki, dan anggota tubuh lainnya yang
terlibat),serta afektif (olah perasaan) dalam menginterpretasikan lagu. Mata
dan telinga juga dituntut peka untuk mendengar dan membaca sebuah partitur
lagu, sehingga membutuhkan energi yang cukup banyak dalam <span class=SpellE>beraktifitas</span>
musik. Dan untuk mencapai keefektifan belajar , durasi les musik hanya berkisar
antara 30-45 menit.</span><span style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span class=GramE><span
style='color:black'>15.&nbsp;</span><span class=SpellE><b><i><span
style='color:#B45F06'>Apa</span></i></b></span></span><b><i><span
style='color:#B45F06'> <span class=SpellE>sih</span> <span class=SpellE>bedanya</span>
MUSIKALITA <span class=SpellE>dengan</span> <span class=SpellE>Tempat</span> <span
class=SpellE>Kursus</span> yang lain?</span></i></b><span style='font-size:
13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='font-size:13.5pt;
color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span class=GramE><span
style='color:black'>- <span class=SpellE>Gausah</span> <span class=SpellE>capek-</span></span></span><span
class=SpellE><span style='color:black'>capek</span></span><span
style='color:black'> <span class=SpellE>keluar</span> <span class=SpellE>rumah</span>,
<span class=SpellE>instruktur</span> yang <span class=SpellE>akan</span> <span
class=SpellE>datang</span> <span class=SpellE>ke</span> <span class=SpellE>rumah</span>
<span class=SpellE>Anda</span>.</span><span style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='color:black'>- <span
class=SpellE>Instruktur</span> <span class=SpellE>berasal</span> <span
class=SpellE>dari</span> <span class=SpellE>akademisi</span> <span
class=SpellE>musik</span> <span class=SpellE>dan</span> <span class=SpellE>profilnya</span>
<span class=SpellE>tertera</span></span><span style='font-size:13.5pt;
color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='color:black'>- <span
class=SpellE><span class=GramE>menyediakan</span></span> <span class=SpellE>fasilitas</span>:
Daily Report &amp; Monthly Report <span class=SpellE>dalam</span> <span
class=SpellE>bentuk</span> <span class=SpellE>fisik</span> <span class=SpellE>dan</span>
online.</span><span style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='color:black'>- <span
class=SpellE><span class=GramE>menyediakan</span></span>&nbsp;<i>REWARD</i>&nbsp;<span
class=SpellE>bagi</span> <span class=SpellE>setiap</span> murid yang <span
class=SpellE>rajin</span>.</span><span style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='color:black'>- <span
class=SpellE>Walaupun</span>&nbsp;<i>private course,</i>&nbsp;<span
class=SpellE>Musikalita</span> <span class=SpellE>menyelenggarakan</span> <span
class=SpellE>konser</span> <span class=SpellE>rutin</span>.</span><span
style='font-size:13.5pt;color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt'><span style='color:black'>- <span
class=SpellE><span class=GramE>menyediakan</span></span> <span class=SpellE>fasilitas</span>
survey <span class=SpellE>kepuasan</span>, agar <span class=SpellE>kualitas</span>
<span class=SpellE>pembelajaran</span> <span class=SpellE>terjaga</span>. <span
class=SpellE>Karena</span> <span class=SpellE>kepuasan</span> <span
class=SpellE>anda</span> <span class=SpellE>adalah</span> <span class=SpellE>tanggung</span>
<span class=SpellE>jawab</span> kami.</span><span style='font-size:13.5pt;
color:black'></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-variant-ligatures: normal;
font-variant-caps: normal;orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px'><span style='font-size:13.5pt;color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-variant-ligatures: normal;
font-variant-caps: normal;orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px'><span style='font-size:13.5pt;color:black'><p>&nbsp;</p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-variant-ligatures: normal;
font-variant-caps: normal;orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px'><span class=SpellE><b><span style='font-size:24.0pt;color:#783F04'>Ingin</span></b></span><b><span
style='font-size:24.0pt;color:#783F04'> <span class=SpellE>bertanya</span> <span
class=SpellE>atau</span> <span class=SpellE>menanggapi</span>? <span
class=SpellE>Silahkan</span> <span class=SpellE>kasih</span> <span
class=SpellE>komen</span> <span class=SpellE>ya</span> :) trims</span></b><span
style='font-size:13.5pt;color:black'></span></p>

</div>
</div>

</template>

<script>
export default {
}
</script>

<style scoped>
  .WordSection1 {
    border: 10px;
    padding: 4rem;
  }

h1 {
  color:#6b4c1e;
}

.line{
width: 100px;
height: 10px;
border-bottom: 4px solid #6b4c1e;
}

</style>
