<template lang="html">
  <div class="box" id="contact">
    <div class="line"></div>
    <h3>Contact Us</h3>
    <b-row>
      <b-col class="kontak">
        <ul class="list">
          <li>
            <a>
            <i class="fas fa-phone-square"></i>
              +628978773587
            </a>
          </li>
          <li>
            <a>
            <i class="fab fa-whatsapp"></i>
              +628978773587
            </a>
          </li>
          <li>
            <a>
            <i class="fab fa-line"></i>
              musikalita
            </a>
          </li>
          <li>
            <a>
            <i class="fab fa-instagram"></i>
              @musikalita
            </a>
          </li>
          <li>
            <a>
            <i class="fab fa-facebook"></i>
              <span class="address">musikalita private course</span>
            </a>
          </li>
          <li>
            <a>
            <i class="far fa-envelope"></i>
              <span class="address">musikalitaa@gmail.com</span>
            </a>
          </li>
          <li>
            <a>
            <i class="fab fa-twitter"></i>
              @musikalita_
            </a>
          </li>
          <li>
            <a>
            <i class="fas fa-map-marker-alt"></i>
              <span class="address">Jl. Apokat no. 69B, Condong Catur, Sleman, D.I. Yogyakarta</span>
            </a>
          </li>
        </ul>
      </b-col>
      <b-col class="location">
        <h4>Location:</h4>
        <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3953.3174694964555!2d110.40328061432602!3d-7.75611457906072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a599efd36b1b5%3A0xafd346fdb2b36a5d!2sMusikalita+Music+Course+And+Studio!5e0!3m2!1sid!2sid!4v1538062812570" width="100%" height="300vh" frameborder="0" style="border:0" allowfullscreen></iframe>
      </b-col>
    </b-row>
  </div>
</template>

<script lang="js">
export default {
}
</script>

<style scoped>
.line{
width: 100px;
height: 10px;
border-bottom: 4px solid #f0d1ab;
margin-bottom: 2vh;
}
h3 {
  font-family: fontJudul;
  font-size: 5vh;
  color: #f0d1ab;
}
h4 {
  font-family: fontJudul;
  font-size: 4vh;
  color: #f0d1ab;
}
#map {
  border:#f0d1ab;
}
.box {
  width: 100%;
  padding: 50px;
  min-height: 600px;
  background-color: #6b4c1e;
}
.row {
  margin-top: 5vh;
}
ul {
  list-style: none;
  padding: 0;
  font-size: 4vh;
  font-family: fontText;
  color: #f0d1ab;
  /* margin-top: 2rem; */
}
.detail{
  font-size: 4vh;
  font-family: fontText;
  color: #f0d1ab;
}
li a {
  height: 100%;
}
.address {
  display: inline-block;
  vertical-align: top;
  width: 80%;
}
i::before {
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  font-size:4vh;
}
@media only screen and (max-width: 600px) {
  ul {
    list-style: none;
    padding: 0;
    font-size: 3vh;
    font-family: fontText;
    color: #f0d1ab;
    /* margin-top: 2rem; */
  }
  i::before {
    font-size: 3vh;
  }
}
</style>
