<template id="header">
  <b-navbar toggleable="md" :sticky="sticky" style="background-color: #f0d1ab;">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-navbar-brand href="#main"><img src="@/assets/logo_polos.png" style="height:30px; vertical-align:center; margin-left: 1rem; margin-bottom: .5rem;"></b-navbar-brand>
    <b-collapse is-nav id="nav_collapse">
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item class="judul" href="#about" right>More About Us</b-nav-item>
        <b-nav-item class="judul" href="#content" right>FAQ</b-nav-item>
        <b-nav-item class="judul" href="#pendaftaran" right>Pendaftaran</b-nav-item>
        <b-nav-item class="judul" href="#contact" right>Contact</b-nav-item>
        <b-nav-item class="judul" href="#" right><img src="@/assets/instagram_coklat.png" style="height: 30px"></b-nav-item>
        <b-nav-item class="judul" href="#" right><img src="@/assets/facebook_coklat.png" style="height: 30px"></b-nav-item>
        <b-nav-item class="judul" href="#" right><img src="@/assets/line_coklat.png" style="height: 30px"></b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
export default {
  data () {
    return {
      sticky: true
    }
  }
}
</script>

<style scope>
.bg-info {
  background-color: #f0d1ab !important;
}
.judul {
  font-family: fontJudul;
}
</style>
