<template>
    <b-container fluid id="dashboard">
        <Header/>
        <Logo/>
        <Carousel/>
        <Content/>
        <Pendaftaran/>
        <Contact/>
    </b-container>
</template>

<script>
import Header from './Header'
import Logo from './Logo'
import Carousel from './Carousel'
import Content from './Content'
import Pendaftaran from './Pendaftaran'
import Contact from './Contact'

export default {
  components: {
    Header,
    Logo,
    Carousel,
    Content,
    Pendaftaran,
    Contact
  }
}
</script>

<style scoped>
@font-face {
  font-family: fontJudul;
  src: url("../../assets/KGSecondChancesSolid.ttf");
}
@font-face {
  font-family: fontText;
  src: url("../../assets/MyriadPro-Semibold.otf");
}
#dashboard {
  background-color: #f0d1ab;
  padding: 0;
}
</style>
