<template lang="html">

<b-container id="main" fluid style="text-align: center; height:100%; height: 100vh; overflow: auto; background-color: #f0d1ab">
    <img class="logo_gede" src="@/assets/Logo_web.png" style="width:45%"/>
    <div class="button">
      <b-button href="#about">More About Us</b-button>
    </div>
</b-container>

</template>

<script lang="js">
export default {
}
</script>

<style scoped>
  .logo_gede {
    vertical-align: center;
    margin-top: 5.5rem;
  }
  .button{
    margin-top:3rem;
  }
  .container-fluid {
    padding-bottom:5rem;
  }
  .btn {
    font-family: fontJudul !important;
    background-color:#3b280c !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left:2rem;
    border: 1vh solid #3b280c;
  }
  .btn:hover {
    border: 1vh solid #3b280c;
    background-color: #6b4c1e!important;
  }
  @media only screen and (max-width: 600px) {
    .btn {
      width: 8rem;
      font-size: .6rem;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 0;
      padding-left: 0;
    }
    .logo_gede {
      vertical-align: center;
      margin-top: 8rem;
    }
  }
</style>
