<template lang="html">

<iframe id="pendaftaran" src="https://musikalita.typeform.com/to/GfPc3M" style="width:100%;height:600px" class='typeform-html'></iframe>

</template>

<script lang="js">
export default {
}
</script>

<style scoped>
  .WordSection1 {
    border: 10px;
    padding: 4rem;
  }

h1 {
  color:#6b4c1e;
}

.line{
width: 100px;
height: 10px;
border-bottom: 4px solid #6b4c1e;
}

</style>
