<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
@import 'https://use.fontawesome.com/releases/v5.3.1/css/all.css';
</style>
